<!-- header.html -->
<%block name="header">
<div class="king-layout1-header">
            <nav role="navigation" class="navbar navbar-default king-horizontal-nav3     f14">
                <div class="nav-container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bk-example-navbar-collapse-3">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="${SITE_URL}">
                            <img src="/static/img/logocn.png" alt="" class="logo"> </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-responsive-collapse" id="bk-example-navbar-collapse-3">

                         <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="搜索..."> </div>
                        </form>


                        <ul class="nav navbar-nav navbar-right">
                             <li class="fa ">

                                 <a href="javascript:void(0);">帮助<span></span></a> </li>
                            <li>
                                <a href="javascript:;">
                                    <img src="/static/img/avatar.png" class="avatar">
                                    <span>个人信息</span>
                                </a>
                            </li>
                             <li>
                        <a href="javascript:void(0)">
                            退出
                        </a>
                    </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
</%block>