<!DOCTYPE html>
<%inherit file="base_site.html"/>
<%block name="main">
    <div class="king-content-wrap">
                <div class="king-layout1-content" style="margin-left: 216px;">
<div class="king-page-topbar pl20 pr20">

    <ul class="breadcrumb king-breadcrumb p12 bg-white">
        <li><a href="${SITE_URL}soft_package">返回</a></li>
        <li><a>crm-web</a></li>

    </ul>
    <ul></ul>
    <a class="king-btn-demo king-btn king-default" title="新建版本" >新建版本</a>
    <a class="king-btn-demo king-btn king-default" title="版本对比" >版本对比</a>
    <a class="king-btn-demo king-btn king-default" title="编辑">编辑</a>

      <ul></ul>
</div>




                                <!-- 设置面板Start -->
                                <!-- 设置面板End -->

                      <ul></ul>
                      <ul></ul>
                    <table class="table">
    <thead>
        <tr>

            <th style="width:15%;">版本号</th>
            <th style="width:15%;">作者</th>
            <th style="width:15%;">最近修改</th>
            <th style="width:15%;">版本ID</th>
            <th style="width:15%;">备注说明</th>
            <th style="width:15%;">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.16</td>
            <td>李四</td>
            <td>3天前</td>
            <td>kx20170401234</td>
            <td>1.16</td>
            <td>
                <button class="btn btn-xs btn-success" title="修改备注">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-xs btn-warning" title="删除版本">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

            </td>
        </tr>
    <tr>
            <td>1.16</td>
            <td>李四</td>
            <td>3天前</td>
            <td>kx20170401234</td>
            <td>1.16</td>
            <td>
                <button class="btn btn-xs btn-success" title="修改备注">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-xs btn-warning" title="删除版本">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

            </td>
        </tr>
    <tr>
            <td>1.16</td>
            <td>李四</td>
            <td>3天前</td>
            <td>kx20170401234</td>
            <td>1.16</td>
            <td>
                <button class="btn btn-xs btn-success" title="修改备注">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-xs btn-warning" title="删除版本">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

            </td>
        </tr>
    <tr>
            <td>1.16</td>
            <td>李四</td>
            <td>3天前</td>
            <td>kx20170401234</td>
            <td>1.16</td>
            <td>
                <button class="btn btn-xs btn-success" title="修改备注">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-xs btn-warning" title="删除版本">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

            </td>
        </tr>
    <tr>
            <td>1.16</td>
            <td>李四</td>
            <td>3天前</td>
            <td>kx20170401234</td>
            <td>1.16</td>
            <td>
                <button class="btn btn-xs btn-success" title="修改备注">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-xs btn-warning" title="删除版本">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

            </td>
        </tr><tr>
            <td>1.16</td>
            <td>李四</td>
            <td>3天前</td>
            <td>kx20170401234</td>
            <td>1.16</td>
            <td>
                <button class="btn btn-xs btn-success" title="修改备注">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-xs btn-warning" title="删除版本">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

            </td>
        </tr><tr>
            <td>1.16</td>
            <td>李四</td>
            <td>3天前</td>
            <td>kx20170401234</td>
            <td>1.16</td>
            <td>
                <button class="btn btn-xs btn-success" title="修改备注">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-xs btn-warning" title="删除版本">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

            </td>
        </tr><tr>
            <td>1.16</td>
            <td>李四</td>
            <td>3天前</td>
            <td>kx20170401234</td>
            <td>1.16</td>
            <td>
                <button class="btn btn-xs btn-success" title="修改备注">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-xs btn-warning" title="删除版本">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

            </td>
        </tr><tr>
            <td>1.16</td>
            <td>李四</td>
            <td>3天前</td>
            <td>kx20170401234</td>
            <td>1.16</td>
            <td>
                <button class="btn btn-xs btn-success" title="修改备注">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button class="btn btn-xs btn-warning" title="删除版本">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>

            </td>
        </tr>

    </tbody>
</table>



<!--JS-->
<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/artDialog-6.0.4/dist/dialog-min.js"></script>
<script type="text/javascript" src="https://magicbox.bkclouds.cc/static_api/v3/components/dataflow/assets/vue/vue.js"></script>
<script type="text/javascript" src="https://magicbox.bkclouds.cc/static_api/v3/components/dataflow/js/dataflow.js"></script>
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();
var data = {
    "nodes": [
        {
            "frontNodeId": "node_01",
            "type": "realtime",
            "x": 334,
            "y": 67,
            "className": "info",
            "config": {
                "name": "扩容",
                "sql": "sadfdf",
                "table_name": "asdf",
                "count_freq": "asdf",
                "waiting_time": "asdfasdf",
                "storages": "asdfasdf",
                "storages_args": "asdfasdf",
                "job_id": "asdfsd"
            }
        },
        {
            "frontNodeId": "node_ed511",
            "type": "offline",
            "x": 30,
            "y": 136,
            "className": "invalid"
        },
        {
            "frontNodeId": "node_c36e9",
            "type": "realtime",
            "x": 138.75,
            "y": 130,
            "className": "invalid",
            "config": {
                "name": "发布"
            }
        },
        {
            "frontNodeId": "node_52383",
            "type": "realtime",
            "x": 329.75,
            "y": 197,
            "className": "invalid",
            "config": {
                "name": "缩容"
            }
        },
        {
            "frontNodeId": "node_68e18",
            "type": "realtime",
            "x": 523.75,
            "y": 139,
            "className": "invalid",
            "config": {
                "name": "打包"
            }
        },
        {
            "frontNodeId": "node_47e58",
            "type": "offline",
            "x": 708,
            "y": 144,
            "className": "invalid"
        }
    ],
    "lines": [
        {
            "class": "info",
            "fromNodeId": "node_ed511",
            "toNodeId": "node_c36e9"
        },
        {
            "class": "info",
            "fromNodeId": "node_c36e9",
            "toNodeId": "node_01"
        },
        {
            "class": "info",
            "fromNodeId": "node_c36e9",
            "toNodeId": "node_52383"
        },
        {
            "class": "info",
            "fromNodeId": "node_01",
            "toNodeId": "node_68e18"
        },
        {
            "class": "info",
            "fromNodeId": "node_52383",
            "toNodeId": "node_68e18"
        },
        {
            "class": "info",
            "fromNodeId": "node_68e18",
            "toNodeId": "node_47e58"
        }
    ]
}
var df = $('.dataflow').workFlow({
    data: data,
    onCreateNodeBefore: function (nodeInfo) {
        nodeInfo.config = {
            name: "节点"
        };
    },
    onCreateLineAfter: function(eln, info) {
        info.line.class = 'info'; //创建线条后设置线条的类为info
    }
});
$('.dataflow')
    .on('mouseenter', '.node', function() {
        var $this = $(this);
        $this.find('.toolsbar').removeClass('none');
    })
    .on('mouseleave', '.node', function() {
        var $this = $(this);
        $this.find('.toolsbar').addClass('none');
    })
    //删除节点
    .on('click', '.del', function(e) {
        if (confirm('确定删除？')) {

            df.remove({
                type: 'node',
                eln: $(this).parents('.node'),
            });

        }
    })
    //编辑节点
    .on('click', '.edit', function() {
        var id = $(this).closest('.toolsbar').attr('data-id'),
            data = df.getNodeVueById(id);
        if (!data.config) {
            data.config = {
                name: ''
            }
        }
        dialog({
            width: 260,
            title: '编辑节点',
            content: '<input class="form-control" maxlength="20"/>',
            onshow: function() {
                $(this.node).find('input').val(data.config.name).focus();
            },
            ok: function() {
                data.config.name = $(this.node).find('input').val();
            },
        }).showModal();
    });
//获取结果
$('#save').click(function(event) {
    var nodes = df.getNodes().map(function(v, i) {
        return {
            frontNodeId: v.id,
            type: v.type,
            x: v.layout.x,
            y: v.layout.y,
            className: v.layout.class,
            config: v.config
        }
    });
    var lines = df.getLines().map(function(v, i) {
        return {
            fromNodeId: v.sourceId,
            toNodeId: v.targetId,
        }
    });
    var data = {
        nodes: nodes,
        lines: lines
    }
    $('#result').val(JSON.stringify(data)).focus();

});
</script>
<script>
    function GetQueryString(name){
  var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
  var r = window.location.search.substr(1).match(reg);
  if(r!=null)return  unescape(r[2]); return null;
}
</script>
    <script>
        $(function(){
            var li = $('.navbar-nav li');
            li.each(function(){
                $(this).click(function(){
                    if( $(this).hasClass('opens') && $(this).find('ul li').length !=0){
                        $(this).find('ul').slideUp(250);
                        $(this).removeClass('opens');
                    }else if($(this).find('ul li').length !=0){
                        $(this).find('ul').slideDown(250);
                        $(this).addClass('opens');
                        $(this).siblings('li').removeClass('opens').find('ul').slideUp();
                    }
                });
            });
        })
    </script>
    <script>
        $(function(){
           var li = $('.navbar-nav li');
           li.each(function(){
           $(this).click(function(){
             if( $(this).hasClass('opens')){
               $(this).find('ul').slideUp(350);
               $(this).removeClass('opens');
             }else{
               $(this).find('ul').slideDown(350);
               $(this).addClass('opens');
                }
             })
            });
        })
    </script>
    <script>
        function renderTpl(str, cfg) {
                var re = /(#(.+?)#)/g;

                return str.replace(re, function() {
                    var val = cfg[arguments[2]]+'';
                    if(typeof val == 'undefined') {
                        val = '';
                    }
                    return val;
                });
            }

            function initRanger(conf){
                // 异步请求后台数据
                $.ajax({
                    url: conf.url,
                    type: 'GET',
                    dataType: conf.dataType,
                    success: function(res){
                        //获取数据成功
                        if (res.code == 0){
                            var _html = ' ';
                            var list = res.data;

                            var tpl = $('#ranger_tpl').html();
                            if (list.length == 0){
                                _html = $('#ranger_nodata_tpl').html();
                            }else{
                                for (var i=0,len=list.length; i < len; i++){
                                    var item = list[i];
                                    _html += renderTpl(tpl, item)
                                }
                            }
                            $(conf.container).html(_html);
                        }
                    }
                });
            }
    </script>
    <script>
        initRanger({
                url: 'https://magicbox.bkclouds.cc/static_api/v3/components/list3/demo.json',
                dataType: 'json',
                container: '#list_1492498627328 .ranger-box tbody'
            });
    </script>
<script>
        $(function(){
           var appName = $('#appName');
           appName.html(GetQueryString('name'));
        })
    </script>
<script type="text/javascript">
    $('#flow_demo3').flowList();
</script>
                </div>
            </div>
</%block>
