<!DOCTYPE html>
<%inherit file="base_site.html"/>
<%block name="main">
    <div class="king-content-wrap">
                <div class="king-layout1-content" style="margin-left: 216px;">
<div class="king-page-topbar pl20 pr20">

    <ul class="breadcrumb king-breadcrumb p12 bg-white">
        <li>交付工具</li>

    </ul>
    <ul></ul>
      <a class="king-btn-demo king-btn king-default" title="部署">新建工具</a>
    <a class="king-btn-demo king-btn king-default" title="维护">历史任务</a>
    <a class="king-btn-demo king-btn king-default" title="查看历史">查看历史</a>


</div>
                </div>
            </div>
</%block>
