<!DOCTYPE html>
<%inherit file="base_site.html"/>
<%block name="main">
    <div class="king-content-wrap">
                <div class="king-layout1-content" style="margin-left: 216px;">
<div class="king-page-topbar pl20 pr20">

    <ul class="breadcrumb king-breadcrumb p12 bg-white">
        <li>流程调度</li>
        <li>流程编排</li>

    </ul>
    <ul></ul>
    <!--HTML-->

<!--HTML-->
<div class="dataflow" id="myflow_tools">
    <div class="leftbox clearfix">
        <span class="toots_label pull-left">元素：</span>
        <div class="diagram_tools pull-left ui-widget-content myflow_tools">
            <ul class="tools_list pull-left">
                <li class="state" id="start" type="start">
                    <a class="node-template" data-toggle="tooltip" data-type="datasource" data-placement="right" title="开始节点">
                        <img src="https://magicbox.bk.tencent.com/static_api/v3/components/dataflow/img/start_blue.png">
                    </a>
                </li>
                <li class="state" id="task" type="task">
                    <a class="node-template" data-toggle="tooltip" data-type="realtime" data-placement="right" title="中间节点">
                        <img src="https://magicbox.bk.tencent.com/static_api/v3/components/dataflow/img/mid_blue.png">
                    </a>
                </li>
                <li class="state" id="end" type="end">
                    <a class="node-template" data-type="offline" data-toggle="tooltip" data-placement="right" title="结束节点">
                        <img src="https://magicbox.bk.tencent.com/static_api/v3/components/dataflow/img/end_blue.png">
                    </a>
                </li>
            </ul>
            <a href="javascript:void(0);" id="save" class="king-btn king-success ">保存结果</a>
        </div>
    </div>
    <!-- 模板配置 start -->
    <div id="template" style="display: none">
        <div class="node" :class="layout.class" data-type="datasource" :style="{top: layout.y+'px', left: layout.x +'px'}">
            <div class="flow-link-btn none">
                <a class="flow-link top"> <i class="fa fa-angle-right fa-rotate-270"></i></a>
                <a class="flow-link right"> <i class="fa fa-angle-right"></i></a>
                <a class="flow-link left"> <i class="fa fa-angle-left"></i> </a>
                <a class="flow-link bottom"> <i class="fa fa-angle-right fa-rotate-90"></i> </a>
            </div>
            <div class="node-container node-1">
            </div>
            <div class="toolsbar none" :data-id="id">
                <i class="fa fa-remove del" title="删除"></i>
            </div>
        </div>
        <div class="node node-online-job" :class="layout.class" data-type="realtime" :style="{top: layout.y+'px', left: layout.x +'px'}">
            <div class="flow-link-btn none ">
                <a title="点击拖动连线" class="flow-link top" data-direction="top"> <i class="fa fa-angle-right fa-rotate-270"></i></a>
                <a title="点击拖动连线" class="flow-link right" data-direction="right"> <i class="fa fa-angle-right"></i></a>
                <a title="点击拖动连线" class="flow-link left" data-direction="left"> <i class="fa fa-angle-left"></i> </a>
                <a title="点击拖动连线" class="flow-link bottom" data-direction="bottom"> <i class="fa fa-angle-right fa-rotate-90"></i> </a>
            </div>
            <div class="node-container info node-2" title="数据源">
                <span class="node-text" v-if="config && config.name">{{config.name}}</span>
            </div>
            <div class="toolsbar none" :data-id="id">
                <i class="fa fa-cog edit" title="编辑"></i>
                <i class="fa fa-remove del" title="删除"></i>
            </div>
        </div>
        <div class="node" :class="layout.class" data-type="offline" :style="{top: layout.y+'px', left: layout.x +'px'}">
            <div class="flow-link-btn none">
                <a class="flow-link top"> <i class="fa fa-angle-right fa-rotate-270"></i></a>
                <a class="flow-link right"> <i class="fa fa-angle-right"></i></a>
                <a class="flow-link left"> <i class="fa fa-angle-left"></i> </a>
                <a class="flow-link bottom"> <i class="fa fa-angle-right fa-rotate-90"></i> </a>
            </div>
            <div class="node-container node-3">
            </div>
            <div class="toolsbar none" :data-id="id">
                <i class="fa fa-remove del" title="删除"></i>
            </div>
        </div>
    </div>
    <!-- 模板配置 end -->
    <div id="flow_content" style="margin-bottom:0;">
        <div class="king-equal-height" style="position: realtive;">
            <div class="dataflow-container grid_states" id="dataflow-container">
                <!-- 线条鼠标hover提示 start -->
                <span class="line-tips none">双击删除线条</span>
                <!-- 线条鼠标hover提示 end -->
            </div>
        </div>
        <textarea id="result" style="width:100%;height:150px;"></textarea>
    </div>
</div>

<!--JS-->
<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/artDialog-6.0.4/dist/dialog-min.js"></script>
<script type="text/javascript" src="https://magicbox.bkclouds.cc/static_api/v3/components/dataflow/assets/vue/vue.js"></script>
<script type="text/javascript" src="https://magicbox.bkclouds.cc/static_api/v3/components/dataflow/js/dataflow.js"></script>
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();
var data = {
    "nodes": [
        {
            "frontNodeId": "node_01",
            "type": "realtime",
            "x": 334,
            "y": 67,
            "className": "info",
            "config": {
                "name": "扩容",
                "sql": "sadfdf",
                "table_name": "asdf",
                "count_freq": "asdf",
                "waiting_time": "asdfasdf",
                "storages": "asdfasdf",
                "storages_args": "asdfasdf",
                "job_id": "asdfsd"
            }
        },
        {
            "frontNodeId": "node_ed511",
            "type": "offline",
            "x": 30,
            "y": 136,
            "className": "invalid"
        },
        {
            "frontNodeId": "node_c36e9",
            "type": "realtime",
            "x": 138.75,
            "y": 130,
            "className": "invalid",
            "config": {
                "name": "发布"
            }
        },
        {
            "frontNodeId": "node_52383",
            "type": "realtime",
            "x": 329.75,
            "y": 197,
            "className": "invalid",
            "config": {
                "name": "缩容"
            }
        },
        {
            "frontNodeId": "node_68e18",
            "type": "realtime",
            "x": 523.75,
            "y": 139,
            "className": "invalid",
            "config": {
                "name": "打包"
            }
        },
        {
            "frontNodeId": "node_47e58",
            "type": "offline",
            "x": 708,
            "y": 144,
            "className": "invalid"
        }
    ],
    "lines": [
        {
            "class": "info",
            "fromNodeId": "node_ed511",
            "toNodeId": "node_c36e9"
        },
        {
            "class": "info",
            "fromNodeId": "node_c36e9",
            "toNodeId": "node_01"
        },
        {
            "class": "info",
            "fromNodeId": "node_c36e9",
            "toNodeId": "node_52383"
        },
        {
            "class": "info",
            "fromNodeId": "node_01",
            "toNodeId": "node_68e18"
        },
        {
            "class": "info",
            "fromNodeId": "node_52383",
            "toNodeId": "node_68e18"
        },
        {
            "class": "info",
            "fromNodeId": "node_68e18",
            "toNodeId": "node_47e58"
        }
    ]
}
var df = $('.dataflow').workFlow({
    data: data,
    onCreateNodeBefore: function (nodeInfo) {
        nodeInfo.config = {
            name: "节点"
        };
    },
    onCreateLineAfter: function(eln, info) {
        info.line.class = 'info'; //创建线条后设置线条的类为info
    }
});
$('.dataflow')
    .on('mouseenter', '.node', function() {
        var $this = $(this);
        $this.find('.toolsbar').removeClass('none');
    })
    .on('mouseleave', '.node', function() {
        var $this = $(this);
        $this.find('.toolsbar').addClass('none');
    })
    //删除节点
    .on('click', '.del', function(e) {
        if (confirm('确定删除？')) {

            df.remove({
                type: 'node',
                eln: $(this).parents('.node'),
            });

        }
    })
    //编辑节点
    .on('click', '.edit', function() {
        var id = $(this).closest('.toolsbar').attr('data-id'),
            data = df.getNodeVueById(id);
        if (!data.config) {
            data.config = {
                name: ''
            }
        }
        dialog({
            width: 260,
            title: '编辑节点',
            content: '<input class="form-control" maxlength="20"/>',
            onshow: function() {
                $(this.node).find('input').val(data.config.name).focus();
            },
            ok: function() {
                data.config.name = $(this.node).find('input').val();
            },
        }).showModal();
    });
//获取结果
$('#save').click(function(event) {
    var nodes = df.getNodes().map(function(v, i) {
        return {
            frontNodeId: v.id,
            type: v.type,
            x: v.layout.x,
            y: v.layout.y,
            className: v.layout.class,
            config: v.config
        }
    });
    var lines = df.getLines().map(function(v, i) {
        return {
            fromNodeId: v.sourceId,
            toNodeId: v.targetId,
        }
    });
    var data = {
        nodes: nodes,
        lines: lines
    }
    $('#result').val(JSON.stringify(data)).focus();

});
</script>


</div>
                </div>
            </div>
</%block>
